@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-farmacia{
    background: #0055A5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}