@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-farmacia{
    background: #0055A5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.form-container {
            max-width: 800px; /* Puedes cambiarlo a 100% si quieres que ocupe todo el ancho */
            margin: 0 auto;
            padding: 20px;
        }
        .card-header-custom {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
